.container-fluid {
  position: relative;
  padding: 15px;
  font-size: 14px;
}

// title
.title-page {
  font-weight: 600;
  font-size: 22px;
  margin: 0 0 10px;
}

// filter
.form-filter {
  gap: 10px;

  label {
    margin-bottom: 0;
  }

  .label-info {
    font-weight: 600;
    margin-bottom: 5px;
  }

  .form-group {
    margin-bottom: 0;
  }

  .form-control {
    min-width: 180px;
  }

  .group-btn {
    display: flex;
    align-items: center;
    gap: 10px;
    min-height: 35px;

    @media (max-width: 665px) {
      flex-wrap: wrap;
    }

    .btn {
      min-height: 35px;
      white-space: nowrap;
    }
  }

  .btn {
    font-size: 14px;
    font-weight: 500;
  }

  .date-time-select {
    min-width: 190px;
    position: relative;
    display: flex;
    border: 1px solid $cyan;
    border-radius: 0.35rem;

    &:focus-within {
      box-shadow: 0 0 0 .2rem rgba($cyan, .25);
    }

    .label-info {
      margin-bottom: 0;
      color: $cyan;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-left: 10px;
    }

    &-input {
      width: unset;
      min-width: unset;
      border: none;
      transition: none;

      &:focus {
        box-shadow: none;
      }
    }
  }

  .input-search {
    display: flex;
    align-items: center;
    border: 1px solid $cyan;
    border-radius: 0.35rem;

    &:focus-within {
      box-shadow: 0 0 0 .2rem rgba($cyan, .25);
    }

    icon {
      padding: 0 5px 0 8px;
      font-size: 18px;

      .fas {
        color: $cyan;
        font-weight: 600;
      }
    }

    &-input {
      min-width: unset;
      min-height: 35px;
      border-radius: 0.35rem;
      width: 150px;
      border: none;
      transition: none;

      &:focus {
        box-shadow: none;
      }
    }
  }

  .select-custom {
    position: relative;

    .custom-select {
      background: none;
      text-align: center;
      border: 1px solid $cyan;

      &:focus {
        border-color: $cyan;
        outline: 0;
        box-shadow: 0 0 0 .2rem rgba($cyan, .25);
      }
    }

    icon {
      position: absolute;
      right: 10px;
      top: 50%;
      transform: translateY(-50%);
      font-size: 18px;

      .fas {
        color: $cyan;
      }
    }
  }


  select {
    color: #d1d3e2;
    width: 180px;
  }

  select option {
    color: $gray-600;
  }

  select:has(option:checked:not([value])),
  select:has(option:checked:not([value=""])) {
    color: $gray-600;
  }

  select:has(option:checked:not([value])) option,
  select:has(option:checked:not([value=""])) option {
    color: $gray-600;
  }
}

.card-body {
  padding: 10px;
}

.form_currency {
  padding: 0 10px;

  .nav-item {
    font-weight: 500;

    &:hover {
      background-color: $gray-700;
      border-radius: .35rem;
    }
  }

  a {
    text-decoration: none;
  }

  p {
    margin-bottom: 0;
  }
}

// css for total balance
.total-balance {
  display: flex;
  gap: 10px;
  margin: 15px 0;
  width: 100%;
  flex-wrap: nowrap;

  @media (max-width: 1594px) {
    flex-wrap: wrap;
  }

  .card-balance {
    width: calc(25% - 8px);
    border-radius: 10px;
    padding: 20px;
    background-color: #f2f3f5;
    min-width: 316px;

    @media (max-width: 1594px) {
      width: calc(50% - 5px);
    }

    @media (max-width: 671px) {
      width: 100%;
    }

    &-title {
      color: $gray-600;
      font-weight: 400;
    }

    &-total {
      font-size: clamp(2.25rem, calc(2.068rem + 0.7767vw), 3rem);
      text-align: center;
      font-weight: 700;

      .currency {
        display: inline-block;
        margin-left: 5px;
        font-size: clamp(1.75rem, calc(1.5983rem + 0.6472vw), 2.375rem);
      }
    }

    &-desc {
      font-size: 20px;
      text-align: center;
      font-weight: 500;
    }
  }
}

// css for chart
.chart-group {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin: 15px 0;
  width: 100%;

  @media (max-width: 696px) {
    padding: 0;
  }

  .card {
    padding: 10px;
    width: calc(50% - 5px);

    @media (max-width: 800px) {
      width: 100%;
    }
  }

  &.currency {
    .card {
      width: calc(25% - 5px);
      min-width: 300px;

      canvas {
        width: 100%;
      }
    }
  }
}

.card-header {
  padding: 10px !important;

  &.currency {
    display: flex;
    gap: 10px;
  }

  .tab_currency {
    display: inline-block;
    border-radius: 0.35rem;
    border: 1px solid $primary;
    padding: 5px 15px;
    font-weight: 600;

    &_active {
      background-color: $primary;
      color: $white;
    }
  }
}

.table-title {
  display: inline-block;
  border-radius: 8px;
  background-color: $primary;
  color: $white;
  padding: 5px 8px;
  font-weight: 600;
}

.table {
  margin-bottom: 0;
  border: 1px solid #e3e6f0;
  border-bottom: none;

  thead {
    th {
      vertical-align: top;
      white-space: nowrap;
    }
  }

  tbody,
  tfoot {
    td {
      vertical-align: middle;
    }
  }

  th,
  td {
    text-align: center;
  }

  th,
  td {
    padding: 5px;
  }

  tfoot {
    td {
      font-weight: 600;
    }
  }

  .icon-list {
    gap: 5px;
    align-items: center;
    justify-content: space-between;

    .fas {
      cursor: pointer;
      font-size: 16px;

      &.fa-share-square {
        font-size: 14px;
        color: $cyan;
      }

      &.fa-image {
        color: $gray-800;
      }

      &.fa-eye {
        color: #aacb3a;
      }
    }
  }
}

.history-table,
.matching-table {
  font-size: 12px;

  .small-title {
    font-size: 10px;
    font-weight: 600;
    display: block;
    color: $cyan;
  }

  .table-responsive {
    th {
      vertical-align: middle;
      min-width: 70px;
    }

    .custom-select-sm {
      font-size: 12px;
    }

    tbody {
      th {
        font-weight: 400;
      }
    }

    .titleRow {
      font-weight: 700;
    }
  }

  .entered-data {
    color: $primary;
    text-decoration: underline;
    text-decoration-color: $cyan;
    text-decoration-style: dotted;
    text-underline-offset: 3px;
  }

}

.matching-table {
  table {
    tbody {
      .matched {
        background-color: #fdf7c3;

        &.audited {
          background-color: #f3fcfb;
        }

        .highlight {
          background-color: #dffdcb;
        }
      }
    }
  }
}

.summary-matching {
  background-color: $gray-500;
  margin-bottom: 15px;
  overflow: hidden;
  border-spacing: 0;
  border-collapse: separate;
  border-radius: 10px;
  border: 1px solid $gray-500;

  tbody {
    tr:not(:last-child) {

      >th,
      >td {
        border-bottom: 1px solid $gray-500;
      }
    }
  }

  th:not(:last-child),
  td:not(:last-child) {
    border-right: 1px solid $gray-500;
  }

  th {
    background-color: #ecf3fb;
    color: #629aa2;
    font-weight: 700;
    padding: 8px 12px;
  }

  td {
    background-color: #f9faff;
    padding: 8px 12px;
    color: #89c6ca;
  }
}

.status {
  display: block;
  border-radius: 18px;
  font-size: 11px;
  padding: 5px 10px;
  font-weight: 500;
  color: $white;

  &.processing {
    background-color: #1677A3;
  }

  &.sucessful {
    background-color: $green;
  }

  &.failed {
    background-color: $danger;
  }

  &.submitted {
    background-color: #4266f5;
  }

  &.checking {
    background-color: $info;
  }

  &.pending {
    background-color: $orange;
  }

  &.rejected {
    background-color: $brand-google;
  }

  &.wrongCard {
    background-color: $warning;
  }

  &.unknown {
    background-color: $dark;
  }

  &.proceed {
    background-color: #9B59B6;
  }
}

//Modal
.modal {
  &-content {
    border-radius: 0.35rem;

    .modal {
      &-header {
        padding: 10px 15px;
        background-color: $primary;
        color: $white;

        .close {
          padding: 0;
          margin: 0;
          color: $white;
          text-shadow: none;
          opacity: 1;
          font-weight: 400;
        }
      }

      &-title {
        font-size: 20px;
        font-weight: 700;
      }

      &-body {
        padding: 10px 15px;

        .form-group {
          margin-bottom: 10px;
          padding: 0;
        }
      }

      &-footer {
        padding: 10px 15px 0;
        gap: 10px;

        >* {
          margin: 0;
        }

      }
    }

    //form
    .form-group {
      margin: 0;
      padding: 10px 20px 15px;

      .col-form-label {
        font-weight: 700;
        padding: 0;
      }

      &-item {
        display: flex;
        align-items: center;
        min-height: 35px;

        &.ng-hide {
          display: none;
        }

        .label {
          font-weight: 700;
          width: 40%;
        }

        .info {
          width: 60%;
          display: inline-flex;
          align-items: center;

          a {
            margin-left: 15px;
          }

          .icon {
            .fa-eye {
              font-size: 20px;
              color: $cyan;
            }
          }
        }
      }

      .submit-btn {
        margin: 10px auto 0;
        text-align: center;

        .icon {
          margin-right: 10px;
        }
      }
    }
  }
}

//Toast
.toast {
  max-width: unset;
}