<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>SB Admin 2 - Overview</title>

  <!-- Custom fonts for this template-->
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link
    href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600;700;800;900&family=Raleway:wght@400;500;600&display=swap"
    rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="css/sb-admin-2.min.css" rel="stylesheet">

</head>

<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-light sidebar sidebar-light accordion justify-content-between" id="accordionSidebar">
      <!-- Sidebar - Brand -->
      <div class="d-flex justify-content-between">
        <a class="sidebar-brand d-flex align-items-center justify-content-center p-2" href="overview.html">
          <img id="logo" class="img-fluid" src="./img/logo-2.png" alt="">
        </a>
        <button id="sidebarToggleTop" class="btn btn-link d-lg-none rounded-circle">
          <i class="fa fa-bars"></i>
        </button>
      </div>
      <ul class="list-unstyled list-menu">
        <li class="nav-item mastermenu active">
          <a class="nav-link" href="/masteroverview">
            <i class="fas fa-fw fa-tachometer-alt mr-2"></i>
            <span>Overview</span>
          </a>
        </li>

        <!-- mastermenu -->
        <li name="mastermenu" class="nav-item mastermenu">
          <a href="#bank_transfer" data-toggle="collapse" aria-expanded="false" class="nav-link collapsed">
            <i class="fas fa-exchange-alt mr-2"></i>
            <span>Bank Transfer</span>
          </a>

          <!-- Bank Transfer List -->
          <ul id="bank_transfer" class="collapse list-unstyled">

            <!-- Deposit -->
            <li class="sub-nav-item">
              <a href="#deposit" data-toggle="collapse" aria-expanded="false" class="nav-link collapsed">
                <span>Deposit</span>
              </a>
              <!-- Deposit List -->
              <ul name="deposit" id="deposit" class="collapse list-unstyled sublist">
                <li class="sub-nav-item">
                  <a href="#deposit_offline" data-toggle="collapse" aria-expanded="false" class="nav-link collapsed">
                    <span>Offline Deposit</span>
                  </a>
                  <ul name="deposit_offline" id="deposit_offline" class="collapse list-unstyled">
                    <li class="nav-item">
                      <a class="nav-link" href="/membersubmithistory">History</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/matching">Matching</a>
                    </li>
                  </ul>
                </li>
                <li class="sub-nav-item">
                  <a href="#deposit_qr" data-toggle="collapse" aria-expanded="false" class="nav-link collapsed">
                    <span>QR Deposit</span>
                  </a>
                  <ul name="deposit_qr" id="deposit_qr" class="collapse list-unstyled">
                    <li class="nav-item">
                      <a class="nav-link" href="/membersubmithistory">History</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/matching">Matching</a>
                    </li>
                  </ul>
                </li>
                <li class="sub-nav-item">
                  <a href="#deposit_internet_banking" data-toggle="collapse" aria-expanded="false"
                    class="nav-link collapsed">
                    <span>Internet Banking</span>
                  </a>
                  <ul name="deposit_internet_banking" id="deposit_internet_banking" class="collapse list-unstyled">
                    <li class="nav-item">
                      <a class="nav-link" href="/membersubmithistory">History</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/matching">Matching</a>
                    </li>
                  </ul>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/unmatchstatement">Unmatch Statement</a>
                </li>
              </ul>
            </li>

            <!-- Payout -->
            <li class="sub-nav-item">
              <a href="#payout" data-toggle="collapse" aria-expanded="false" class="nav-link collapsed">
                <span>Payout</span>
              </a>
              <!-- Payout List -->
              <ul name="payout" id="payout" class="collapse list-unstyled sublist">
                <li class="nav-item">
                  <a class="nav-link" href="/payoutlastesttransaction">In Progress</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="payoutsubmithistory?type=1">History</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/payoutmatching">Matching</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" data-toggle="tooltip" data-placement="right" title="Approval Transactions"
                    href="/PayoutApprovalTransaction?type=1">Approval Transactions</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/payoutbatches">Batches Payout</a>
                </li>
              </ul>
            </li>

            <!-- Settlement -->
            <li class="sub-nav-item">
              <a href="#settlement" data-toggle="collapse" aria-expanded="false" class="nav-link collapsed">
                <span>Settlement</span>
              </a>
              <!-- Settlement List -->
              <ul name="settlement" id="settlement" class="collapse list-unstyled sublist">
                <li class="nav-item">
                  <a class="nav-link" href="/settlementinprogress">In Progress</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/settlementsubmithistory">History</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/settlementmatching">Matching</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/settlementrequests">Requests</a>
                </li>
              </ul>
            </li>

            <!-- Internal Transfer -->
            <li class="sub-nav-item">
              <a href="#internal_transfer" data-toggle="collapse" aria-expanded="false" class="nav-link collapsed">
                <span>Internal Transfer</span>
              </a>
              <!-- Internal Transfer List -->
              <ul name="internal_transfer" id="internal_transfer" class="collapse list-unstyled sublist">
                <li class="nav-item">
                  <a class="nav-link" href="/grouptransferrules">Group Transfer Rules</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/internaltransferrequest">History</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/payoutmatching?type=4">Matching</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/payoutlastesttransaction?type=4">In Progress</a>
                </li>
              </ul>
            </li>

            <!-- eBanking Account Management -->
            <li class="sub-nav-item">
              <a href="#ebanking_acc" data-toggle="collapse" aria-expanded="false" class="nav-link collapsed">
                <span>eBanking Account</span>
              </a>
              <!-- eBanking Account Management List -->
              <ul name="ebanking_acc" id="ebanking_acc" class="collapse list-unstyled sublist">
                <li class="nav-item">
                  <a class="nav-link" href="/accountstatus">Balance Overview</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/Admin/bankconfig">Banks</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/Admin/accountmanage">Accounts</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/Admin/groupmanage">Group of Account</a>
                </li>
              </ul>
            </li>

            <li class="nav-item active">
              <a class="nav-link" href="/requestmonitor" data-toggle="tooltip" data-placement="right"
                title="eBanking Request Monitor">eBanking Request Monitor</a>
            </li>
          </ul>
        </li>

        <!-- mastermenu -->
        <li name="mastermenu" class="nav-item mastermenu">
          <a href="#ewallets" data-toggle="collapse" aria-expanded="false" class="nav-link collapsed">
            <i class="fas fa-wallet mr-2"></i>
            <span>Ewallets</span>
          </a>

          <!-- Ewallets List -->
          <ul id="ewallets" class="collapse list-unstyled">

            <!-- Deposit -->
            <li class="sub-nav-item">
              <a href="#ewallets_deposit" data-toggle="collapse" aria-expanded="false" class="nav-link collapsed">
                <span>Deposit</span>
              </a>
              <!-- Deposit List -->
              <ul name="ewallets_deposit" id="ewallets_deposit" class="collapse list-unstyled sublist">
                <li class="sub-nav-item">
                  <a href="#ewallets_deposit_momo" data-toggle="collapse" aria-expanded="false"
                    class="nav-link collapsed">
                    <span>Momo</span>
                  </a>
                  <ul name="ewallets_deposit_momo" id="ewallets_deposit_momo" class="collapse list-unstyled">
                    <li class="nav-item">
                      <a class="nav-link" href="/momosubmithistory">History</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/momodeposit">Matching</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/momounclaimedstatement">Unclaimed Statements</a>
                    </li>
                  </ul>
                </li>
                <li class="sub-nav-item">
                  <a href="#ewallets_deposit_zalo" data-toggle="collapse" aria-expanded="false"
                    class="nav-link collapsed">
                    <span>Zalo</span>
                  </a>
                  <ul name="ewallets_deposit_zalo" id="ewallets_deposit_zalo" class="collapse list-unstyled">
                    <li class="nav-item">
                      <a class="nav-link" href="/zalosubmithistory">History</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/zalodeposit">Matching</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/zalopayunclaimedstatement" data-toggle="tooltip" data-placement="right"
                        title="Zalopay Unclaimed Statement">Unclaimed Statement</a>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>

            <!-- Ewallets Account Management -->
            <li class="sub-nav-item">
              <a href="#ewallets_acc" data-toggle="collapse" aria-expanded="false" class="nav-link collapsed">
                <span>Ewallets Account</span>
              </a>
              <!-- Ewallets Account Management List -->
              <ul name="ewallets_acc" id="ewallets_acc" class="collapse list-unstyled sublist">
                <li class="nav-item">
                  <a class="nav-link" href="/accountewalletstatus">Balance Overview</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/Admin/manageewallets">Ewallets</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/Admin/accountewalletmanage">Accounts</a>
                </li>
              </ul>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="/requestmonitorewallet" data-toggle="tooltip" data-placement="right"
                title="Ewallets Request Monitor">Request Monitor</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/unidentifiedewalletstatement" data-toggle="tooltip" data-placement="right"
                title="Unidentified Statements">Unidentified Statements</a>
            </li>
          </ul>
        </li>

        <!-- mastermenu -->
        <li name="mastermenu" class="nav-item mastermenu">
          <a href="#scratchcard" data-toggle="collapse" aria-expanded="false" class="nav-link collapsed">
            <i class="fas fa-chess-board mr-2"></i>
            <span>Scratchcard</span>
          </a>

          <!-- Scratchcard List -->
          <ul id="scratchcard" class="collapse list-unstyled">
            <li class="nav-item">
              <a class="nav-link" href="/SrCardSubmitHistory">History</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/Admin/SrCardConfig">Configuration</a>
            </li>
          </ul>
        </li>

        <!-- mastermenu -->
        <li name="mastermenu" class="nav-item mastermenu">
          <a href="#smartcard" data-toggle="collapse" aria-expanded="false" class="nav-link collapsed">
            <i class="fas fa-credit-card mr-2"></i>
            <span>Smart Card</span>
          </a>

          <!-- Smart Card List -->
          <ul id="smartcard" class="collapse list-unstyled">

            <!-- Deposit -->
            <li class="sub-nav-item">
              <a href="#smartcard_sales" data-toggle="collapse" aria-expanded="false" class="nav-link collapsed">
                <span>Sale &amp; Purchase Cards</span>
              </a>
              <!-- List -->
              <ul name="smartcard_sales" id="smartcard_sales" class="collapse list-unstyled sublist">
                <li class="nav-item">
                  <a class="nav-link" href="/smartcardtransaction">History</a>
                </li>
              </ul>
            </li>

            <!-- Members Dashboard -->
            <li class="sub-nav-item">
              <a href="#smartcard_members" data-toggle="collapse" aria-expanded="false" class="nav-link collapsed">
                <span>Members Dashboard</span>
              </a>
              <!-- Members Dashboard List -->
              <ul name="smartcard_members" id="smartcard_members" class="collapse list-unstyled sublist">
                <li class="nav-item">
                  <a class="nav-link" href="/smartcardMember">Affilliates &amp; Members</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/smartcardlevel">Level Manage</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/smartcardaffiliatelink">Affiliate Link</a>
                </li>
              </ul>
            </li>

            <!-- Merchant Submissions -->
            <li class="sub-nav-item">
              <a href="#smartcard_submissions" data-toggle="collapse" aria-expanded="false" class="nav-link collapsed">
                <span>Merchant Submissions</span>
              </a>
              <!-- List -->
              <ul name="smartcard_submissions" id="smartcard_submissions" class="collapse list-unstyled sublist">
                <li class="nav-item">
                  <a class="nav-link" href="/smartcardsubmithistory">History</a>
                </li>
              </ul>
            </li>

            <!-- Card Management -->
            <li class="sub-nav-item">
              <a href="#smartcard_card_management" data-toggle="collapse" aria-expanded="false"
                class="nav-link collapsed">
                <span>Card Management</span>
              </a>
              <!-- List -->
              <ul name="smartcard_card_management" id="smartcard_card_management"
                class="collapse list-unstyled sublist">
                <li class="nav-item">
                  <a class="nav-link" href="/smartcardstatus">Card Status</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/smartcardmanage">Card Value</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/smartcardDiscount" data-toggle="tooltip" data-placement="right"
                    title="Card Surcharge & Discount">Card Surcharge &amp; Discount</a>
                </li>
              </ul>
            </li>
          </ul>
        </li>

        <!-- mastermenu -->
        <li name="mastermenu" class="nav-item mastermenu">
          <a href="#merchants" data-toggle="collapse" aria-expanded="false" class="nav-link collapsed">
            <i class="fas fa-cogs mr-2"></i>
            <span>Merchants</span>
          </a>

          <!-- Merchants List -->
          <ul id="merchants" class="collapse list-unstyled">
            <li class="nav-item">
              <a class="nav-link" href="/Admin/submerchantmanage" data-toggle="tooltip" data-placement="right"
                title="Information Management">Information Management</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/Admin/merchantbalanceoverview">Balance Overview</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/Admin/adjustmentbalance">Adjustment Balance</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/Admin/subspayoutconfig" data-toggle="tooltip" data-placement="right"
                title="Payout Config for Sub Merchant">Payout Config for Sub Merchant</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/Admin/subwhitelistipsmanage" data-toggle="tooltip" data-placement="right"
                title="Whitelist Merchant IPs">Whitelist Merchant IPs</a>
            </li>
          </ul>
        </li>

        <!-- mastermenu -->
        <li name="mastermenu" class="nav-item mastermenu">
          <a href="#users" data-toggle="collapse" aria-expanded="false" class="nav-link collapsed">
            <i class="fas fa-users-cog mr-2"></i>
            <span>Users</span>
          </a>

          <!-- Users List -->
          <ul id="users" class="collapse list-unstyled">
            <li class="nav-item">
              <a class="nav-link" href="/Admin/rolemanage">Role Management</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/Admin/groupusermanage">Group of User</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/Admin/usermanage">Users Management</a>
            </li>
          </ul>
        </li>

        <!-- mastermenu -->
        <li name="mastermenu" class="nav-item mastermenu">
          <a href="#management" data-toggle="collapse" aria-expanded="false" class="nav-link collapsed">
            <i class="fas fa-tasks mr-2"></i>
            <span>Management</span>
          </a>

          <!-- Users List -->
          <ul id="management" class="collapse list-unstyled">
            <li class="nav-item">
              <a class="nav-link" href="/Admin/log">Detail Action Logs</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/Admin/smsmanage">SMS Management</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/Admin/NotificationManager">Notification</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/Admin/phonemonitor">Service Connection</a>
            </li>
          </ul>
        </li>

        <!-- mastermenu -->
        <li name="mastermenu" class="nav-item mastermenu">
          <a href="#bo_settings" data-toggle="collapse" aria-expanded="false" class="nav-link collapsed">
            <i class="fas fa-cog mr-2"></i>
            <span>BO Settings</span>
          </a>

          <!-- BO Settings List -->
          <ul id="bo_settings" class="collapse list-unstyled">
            <li class="nav-item">
              <a class="nav-link" href="/Admin/whitelistipsmanage">Whitelist Merchant IPs</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/Admin/backofficesetting">Back Office</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/Admin/domainmanage">Domain</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/Admin/payoutconfig">Payout Configuration</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/Admin/SubmissionLimitConfig">Submission Limit Config</a>
            </li>
          </ul>
        </li>

        <!-- Sidebar Toggler (Sidebar) -->
        <div class="text-center">
          <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>
      </ul>
    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
      <!-- Main Content -->
      <div id="content">

        <!-- Topbar -->
        <nav class="navbar navbar-expand navbar-light bg-white topbar static-top shadow">

          <!-- Sidebar Toggle (Topbar) -->
          <button id="sidebarToggleTop" class="btn btn-link rounded-circle mr-3">
            <i class="fa fa-bars"></i>
          </button>

          <!-- Topbar Navbar -->
          <ul class="navbar-nav ml-auto">

            <!-- Nav Item - Alerts -->
            <li class="nav-item dropdown no-arrow mx-1">
              <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-bell fa-fw"></i>
                <!-- Counter - Alerts -->
                <span class="badge badge-danger badge-counter">3+</span>
              </a>
              <!-- Dropdown - Alerts -->
              <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                aria-labelledby="alertsDropdown">
                <h6 class="dropdown-header">
                  Alerts Center
                </h6>
                <a class="dropdown-item d-flex align-items-center" href="#">
                  <div class="mr-3">
                    <div class="icon-circle bg-primary">
                      <i class="fas fa-file-alt text-white"></i>
                    </div>
                  </div>
                  <div>
                    <div class="small text-gray-500">December 12, 2019</div>
                    <span class="font-weight-bold">A new monthly report is ready to download!</span>
                  </div>
                </a>
                <a class="dropdown-item d-flex align-items-center" href="#">
                  <div class="mr-3">
                    <div class="icon-circle bg-success">
                      <i class="fas fa-donate text-white"></i>
                    </div>
                  </div>
                  <div>
                    <div class="small text-gray-500">December 7, 2019</div>
                    $290.29 has been deposited into your account!
                  </div>
                </a>
                <a class="dropdown-item d-flex align-items-center" href="#">
                  <div class="mr-3">
                    <div class="icon-circle bg-warning">
                      <i class="fas fa-exclamation-triangle text-white"></i>
                    </div>
                  </div>
                  <div>
                    <div class="small text-gray-500">December 2, 2019</div>
                    Spending Alert: We've noticed unusually high spending for your account.
                  </div>
                </a>
                <a class="dropdown-item text-center small text-gray-500" href="#">Show All Alerts</a>
              </div>
            </li>

            <div class="topbar-divider d-none d-sm-block"></div>

            <!-- Nav Item - User Information -->
            <li class="nav-item dropdown no-arrow">
              <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <span class="mr-2 d-none d-lg-inline text-gray-600 small">Douglas McGee</span>
                <img class="img-profile rounded-circle" src="img/undraw_profile.svg">
              </a>
              <!-- Dropdown - User Information -->
              <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                <a class="dropdown-item" href="#">
                  <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                  Profile
                </a>
                <a class="dropdown-item" href="/change-password.html">
                  <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                  Change Password
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                  <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                  Logout
                </a>
              </div>
            </li>

          </ul>

        </nav>
        <!-- End of Topbar -->

        <!-- Begin Page Content -->
        <div class="container-fluid">

          <div ng-controller="MasterOverviewCtrl" ng-init="init();" ng-cloak>
            <h2 class="title-page">UI_Design Overview</h2>

            <!-- Filter -->
            <div class="d-flex flex-wrap align-items-end form-filter">
              <div class="">
                <p class="label-info">Merchant</p>
                <select ng-model="MerchantSelected" ng-init="" class="custom-select form-control form-control-sm"
                  ng-change="filterMerchant(MerchantSelected); Search()">
                  <option value="" ng-if="listMerchant.length >= 1">ALL</option>
                  <option ng-selected="{{merchant.ID == MerchantSelected}}" ng-repeat="merchant in listMerchant"
                    value="Sub_UI">
                    Sub_UI
                  </option>
                  <option ng-selected="{{merchant.ID == MerchantSelected}}" ng-repeat="merchant in listMerchant"
                    value="ALL">
                    ALL
                  </option>
                </select>
              </div>
              <div class="">
                <p class="label-info">Currency</p>
                <select ng-model="MerchantSelected" ng-init="" class="custom-select form-control form-control-sm"
                  ng-change="filterMerchant(MerchantSelected); Search()">
                  <option value="" ng-if="listMerchant.length >= 1">THB</option>
                  <option ng-selected="{{merchant.ID == MerchantSelected}}" ng-repeat="merchant in listMerchant"
                    value="THB">
                    THB
                  </option>
                  <option ng-selected="{{merchant.ID == MerchantSelected}}" ng-repeat="merchant in listMerchant"
                    value="VND">
                    VND
                  </option>
                </select>
              </div>
              <div class="">
                <label>
                  <p class="label-info">From</p>
                </label>
                <input id="FromDate" type="date" ng-model="FilterFromDate" ng-init="FilterFromDate=Date('2024-05-10')"
                  class="form-control" />
              </div>
              <div class="">
                <label>
                  <p class="label-info">To</p>
                </label>
                <input id="ToDate" type="date" ng-model="FilterToDate" ng-init="FilterToDate=Date('2024-05-10')"
                  class="form-control" />
              </div>
              <div class="group-btn">
                <button ng-click="filterFromDate(FilterFromDate); filterToDate(FilterToDate); Search()" type="button"
                  value="Search" id="btnSearch" name="ButtonType"
                  class="d-inline-block btn btn-sm btn-primary shadow-sm">
                  <i class="fas fa-filter fa-sm text-white-50 mr-1"></i>
                  <span class="text">Filter</span>
                </button>
                <button ng-click="Export()" id="btnExport" type="submit"
                  class="d-inline-block btn btn-sm btn-primary shadow-sm" name="ButtonType" value="Submit" ng-click="">
                  <i class="fas fa-download fa-sm text-white-50 mr-1"></i>
                  <span class="text">Generate Report</span>
                </button>
              </div>
            </div>

            <!-- Overview Total Balance -->
            <div id="dataTable_wrapper" class="total-balance">
              <div ng-repeat="curr in listTotalCurrency" class="card-balance deposit">
                <p class="card-balance-title">Total Deposit</p>
                <p class="card-balance-total">500<span class="currency">THB</span></p>
                <p class="card-balance-desc">Total amount of deposit</p>
              </div>
              <div ng-repeat="curr in listTotalCurrency" class="card-balance payout">
                <p class="card-balance-title">Total Payout</p>
                <p class="card-balance-total">500<span class="currency">THB</span></p>
                <p class="card-balance-desc">Total amount of payout</p>
              </div>
              <div ng-repeat="curr in listTotalCurrency" class="card-balance topup">
                <p class="card-balance-title">Total Topup</p>
                <p class="card-balance-total">500<span class="currency">THB</span></p>
                <p class="card-balance-desc">Total amount of topup</p>
              </div>
              <div ng-repeat="curr in listTotalCurrency" class="card-balance settlement">
                <p class="card-balance-title">Total Settlement</p>
                <p class="card-balance-total">500<span class="currency">THB</span></p>
                <p class="card-balance-desc">Total amount of settlement</p>
              </div>
            </div>

            <!-- Chart -->
            <div class="chart-group">
              <div class="card shadow">
                <p class="card-balance-title">Total Deposit</p>
                <canvas id="deposit_chart"></canvas>
              </div>
              <div class="card shadow">
                <p class="card-balance-title">Total Payout</p>
                <canvas id="payout_chart"></canvas>
              </div>
              <div class="card shadow">
                <p class="card-balance-title">Total TopUp</p>
                <canvas id="topup_chart"></canvas>
              </div>
              <div class="card shadow">
                <p class="card-balance-title">Total Settlement</p>
                <canvas id="settlement_chart"></canvas>
              </div>
            </div>

            <!-- Table Volume -->
            <div class="card shadow">
              <div class="card-header">
                <p class="table-title">Volume Detail</p>
              </div>
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table table-bordered" id="dataTable1" width="100%" cellspacing="0">
                    <thead>
                      <tr>
                        <th>Channels</th>
                        <th>
                          <div>Deposit</div>
                        </th>
                        <!-- ngIf: initData.canSeeFee -->
                        <th>
                          <div>Payout</div>
                        </th>
                        <!-- ngIf: initData.canSeeFee -->
                        <th>
                          <div>Topup</div>
                        </th>
                        <th>
                          <div>Settlement</div>
                        </th>
                        <!-- ngIf: initData.canSeeFee -->

                      </tr>
                    </thead>
                    <tbody>
                      <!-- ngRepeat: item in results -->
                      <tr ng-repeat="item in results" class="ng-scope">
                        <td style="font-weight: bold" class="ng-binding">
                          Offline Original
                        </td>
                        <td class="ng-binding">
                          0.00
                        </td>
                        <!-- ngIf: initData.canSeeFee -->
                        <td class="ng-binding">
                          0.00
                        </td>
                        <!-- ngIf: initData.canSeeFee -->
                        <td class="ng-binding">
                          0.00
                        </td>
                        <td class="ng-binding">
                          0.00
                        </td>
                        <!-- ngIf: initData.canSeeFee -->
                      </tr><!-- end ngRepeat: item in results -->
                      <tr ng-repeat="item in results" class="ng-scope">
                        <td style="font-weight: bold" class="ng-binding">
                          Offline
                        </td>
                        <td class="ng-binding">
                          0.00
                        </td>
                        <!-- ngIf: initData.canSeeFee -->
                        <td class="ng-binding">
                          0.00
                        </td>
                        <!-- ngIf: initData.canSeeFee -->
                        <td class="ng-binding">
                          0.00
                        </td>
                        <td class="ng-binding">
                          0.00
                        </td>
                        <!-- ngIf: initData.canSeeFee -->
                      </tr><!-- end ngRepeat: item in results -->
                      <tr ng-repeat="item in results" class="ng-scope">
                        <td style="font-weight: bold" class="ng-binding">
                          TransferOut
                        </td>
                        <td class="ng-binding">
                          0.00
                        </td>
                        <!-- ngIf: initData.canSeeFee -->
                        <td class="ng-binding">
                          0.00
                        </td>
                        <!-- ngIf: initData.canSeeFee -->
                        <td class="ng-binding">
                          0.00
                        </td>
                        <td class="ng-binding">
                          0.00
                        </td>
                        <!-- ngIf: initData.canSeeFee -->
                      </tr><!-- end ngRepeat: item in results -->
                      <tr ng-repeat="item in results" class="ng-scope">
                        <td style="font-weight: bold" class="ng-binding">
                          PromptPay
                        </td>
                        <td class="ng-binding">
                          0.00
                        </td>
                        <!-- ngIf: initData.canSeeFee -->
                        <td class="ng-binding">
                          0.00
                        </td>
                        <!-- ngIf: initData.canSeeFee -->
                        <td class="ng-binding">
                          0.00
                        </td>
                        <td class="ng-binding">
                          0.00
                        </td>
                        <!-- ngIf: initData.canSeeFee -->
                      </tr><!-- end ngRepeat: item in results -->
                      <tr ng-repeat="item in results" class="ng-scope">
                        <td style="font-weight: bold" class="ng-binding">
                          SmartCard
                        </td>
                        <td class="ng-binding">
                          0.00
                        </td>
                        <!-- ngIf: initData.canSeeFee -->
                        <td class="ng-binding">
                          0.00
                        </td>
                        <!-- ngIf: initData.canSeeFee -->
                        <td class="ng-binding">
                          0.00
                        </td>
                        <td class="ng-binding">
                          0.00
                        </td>
                        <!-- ngIf: initData.canSeeFee -->
                      </tr><!-- end ngRepeat: item in results -->
                      <tr ng-repeat="item in results" class="ng-scope">
                        <td style="font-weight: bold" class="ng-binding">
                          Internet Banking
                        </td>
                        <td class="ng-binding">
                          0.00
                        </td>
                        <!-- ngIf: initData.canSeeFee -->
                        <td class="ng-binding">
                          0.00
                        </td>
                        <!-- ngIf: initData.canSeeFee -->
                        <td class="ng-binding">
                          0.00
                        </td>
                        <td class="ng-binding">
                          0.00
                        </td>
                        <!-- ngIf: initData.canSeeFee -->
                      </tr><!-- end ngRepeat: item in results -->
                    </tbody>
                    <tfoot>
                      <tr ng-show="totalForm" class="">
                        <td style="font-weight: bold">TOTAL</td>
                        <td class="color-total ng-binding">0.00</td>
                        <!-- ngIf: initData.canSeeFee -->
                        <td class="color-total ng-binding">0.00</td>
                        <!-- ngIf: initData.canSeeFee -->
                        <td class="color-total ng-binding">0.00</td>
                        <td class="color-total ng-binding">0.00</td>
                        <!-- ngIf: initData.canSeeFee -->
                      </tr>
                    </tfoot>
                  </table>
                </div>
              </div>
            </div>

          </div>
        </div>

      </div>
      <!-- /.container-fluid -->
      <!-- End of Main Content -->
      <!-- Footer -->
      <footer class="sticky-footer bg-white">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Copyright &copy; White Label 2024</span>
          </div>
        </div>
      </footer>
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
          <a class="btn btn-primary" href="login.html">Logout</a>
        </div>
      </div>
    </div>
  </div>

  <!-- Bootstrap core JavaScript-->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="js/sb-admin-2.min.js"></script>

  <!-- Chart plugins -->
  <script src="https://cdn.jsdelivr.net/npm/chart.js@4.0.1/dist/chart.umd.min.js"></script>

  <!-- Table plugins -->
  <script src="vendor/datatables/jquery.dataTables.min.js"></script>
  <script src="vendor/datatables/dataTables.bootstrap4.min.js"></script>

</body>

</html>
<script>
  const data = {
    "data": [
      {
        "MerchantID": 0,
        "MasterID": 100,
        "MerchantCode": null,
        "Date": "\/Date(-62135596800000)\/",
        "Channel": -1,
        "CurrencyID": 3,
        "Currency": "THB",
        "Opening": 0,
        "VolumeDeposit": 0,
        "Deposit": 500.00,
        "DepositFee": 0.00,
        "VolumePayout": 0,
        "Payout": 0.00,
        "PayoutFee": 0.00,
        "VolumeTopup": 0,
        "TopUp": 0.00,
        "VolumeSettlement": 0,
        "Settlement": 0.00,
        "SettlementFee": 0.00,
        "Adjustment": 0,
        "Closing": 0,
        "TxnType": 0,
        "ChannelText": "Offline Original",
        "ListAdjustmentInfo": null,
        "CreatedTime": "\/Date(-62135596800000)\/",
        "ID": 0,
        "IsDeleted": false
      },
      {
        "MerchantID": 0,
        "MasterID": 100,
        "MerchantCode": null,
        "Date": "\/Date(-62135596800000)\/",
        "Channel": 0,
        "CurrencyID": 3,
        "Currency": "THB",
        "Opening": 0,
        "VolumeDeposit": 1,
        "Deposit": 1000.00,
        "DepositFee": 0.00,
        "VolumePayout": 0,
        "Payout": 0.00,
        "PayoutFee": 0.00,
        "VolumeTopup": 0,
        "TopUp": 0.00,
        "VolumeSettlement": 0,
        "Settlement": 0.00,
        "SettlementFee": 0.00,
        "Adjustment": 0,
        "Closing": 0,
        "TxnType": 0,
        "ChannelText": "Offline",
        "ListAdjustmentInfo": null,
        "CreatedTime": "\/Date(-62135596800000)\/",
        "ID": 0,
        "IsDeleted": false
      },
      {
        "MerchantID": 0,
        "MasterID": 100,
        "MerchantCode": null,
        "Date": "\/Date(-62135596800000)\/",
        "Channel": 2,
        "CurrencyID": 3,
        "Currency": "THB",
        "Opening": 0,
        "VolumeDeposit": 0,
        "Deposit": 0.00,
        "DepositFee": 0.00,
        "VolumePayout": 1,
        "Payout": 500.00,
        "PayoutFee": 0.00,
        "VolumeTopup": 0,
        "TopUp": 0.00,
        "VolumeSettlement": 0,
        "Settlement": 0.00,
        "SettlementFee": 0.00,
        "Adjustment": 0,
        "Closing": 0,
        "TxnType": 1,
        "ChannelText": "TransferOut",
        "ListAdjustmentInfo": null,
        "CreatedTime": "\/Date(-62135596800000)\/",
        "ID": 0,
        "IsDeleted": false
      },
      {
        "MerchantID": 0,
        "MasterID": 100,
        "MerchantCode": null,
        "Date": "\/Date(-62135596800000)\/",
        "Channel": 5,
        "CurrencyID": 3,
        "Currency": "THB",
        "Opening": 0,
        "VolumeDeposit": 0,
        "Deposit": 0.00,
        "DepositFee": 0.00,
        "VolumePayout": 0,
        "Payout": 0.00,
        "PayoutFee": 0.00,
        "VolumeTopup": 0,
        "TopUp": 0.00,
        "VolumeSettlement": 0,
        "Settlement": 0.00,
        "SettlementFee": 0.00,
        "Adjustment": 0,
        "Closing": 0,
        "TxnType": 0,
        "ChannelText": "PromptPay",
        "ListAdjustmentInfo": null,
        "CreatedTime": "\/Date(-62135596800000)\/",
        "ID": 0,
        "IsDeleted": false
      },
      {
        "MerchantID": 0,
        "MasterID": 100,
        "MerchantCode": null,
        "Date": "\/Date(-62135596800000)\/",
        "Channel": 7,
        "CurrencyID": 3,
        "Currency": "THB",
        "Opening": 0,
        "VolumeDeposit": 0,
        "Deposit": 0.00,
        "DepositFee": 0.00,
        "VolumePayout": 0,
        "Payout": 0.00,
        "PayoutFee": 0.00,
        "VolumeTopup": 0,
        "TopUp": 0.00,
        "VolumeSettlement": 0,
        "Settlement": 0.00,
        "SettlementFee": 0.00,
        "Adjustment": 0,
        "Closing": 0,
        "TxnType": 0,
        "ChannelText": "SmartCard",
        "ListAdjustmentInfo": null,
        "CreatedTime": "\/Date(-62135596800000)\/",
        "ID": 0,
        "IsDeleted": false
      },
      {
        "MerchantID": 0,
        "MasterID": 100,
        "MerchantCode": null,
        "Date": "\/Date(-62135596800000)\/",
        "Channel": 8,
        "CurrencyID": 3,
        "Currency": "THB",
        "Opening": 0,
        "VolumeDeposit": 0,
        "Deposit": 0.00,
        "DepositFee": 0.00,
        "VolumePayout": 0,
        "Payout": 0.00,
        "PayoutFee": 0.00,
        "VolumeTopup": 0,
        "TopUp": 0.00,
        "VolumeSettlement": 0,
        "Settlement": 0.00,
        "SettlementFee": 0.00,
        "Adjustment": 0,
        "Closing": 0,
        "TxnType": 0,
        "ChannelText": "Internet Banking",
        "ListAdjustmentInfo": null,
        "CreatedTime": "\/Date(-62135596800000)\/",
        "ID": 0,
        "IsDeleted": false
      }
    ],
    "totalCurrency": [
      {
        "Item1": "THB",
        "Item2": 500.00
      },
      {
        "Item1": "VND",
        "Item2": -10000.00
      }
    ],
    "TotalVolumeDeposit": 1,
    "TotalAmountDeposit": 1000.00,
    "TotalDepositFee": 0.00,
    "TotalVolumePayout": 1,
    "TotalAmountPayout": 500.00,
    "TotalPayoutFee": 0.00,
    "TotalVolumeTopup": 0,
    "TotalAmountTopup": 0.00,
    "TotalVolumeSettlement": 0,
    "TotalAmountSettlement": 0.00,
    "TotalSettlementFee": 0.00
  }

  let dataSet_deposit = [];
  let dataSet_payout = [];
  let dataSet_settlement = [];
  let dataSet_topup = [];
  data?.data?.map((item) => {
    dataSet_deposit.push({
      label: item.ChannelText,
      data: [item.Deposit],
      // backgroundColor: 
    })
  })
  data?.data?.map((item) => {
    dataSet_payout.push({
      label: item.ChannelText,
      data: [item.Payout],
      // backgroundColor: 
    })
  })
  data?.data?.map((item) => {
    dataSet_settlement.push({
      label: item.ChannelText,
      data: [item.Settlement],
      // backgroundColor: 
    })
  })
  data?.data?.map((item) => {
    dataSet_topup.push({
      label: item.ChannelText,
      data: [item.TopUp],
      // backgroundColor: 
    })
  })

  console.log(data?.data)
  var deposit = document.getElementById("deposit_chart").getContext('2d');
  var myChart = new Chart(deposit, {
    type: 'bar',
    data: {
      labels: ["12-05", "13-05"],
      datasets: dataSet_deposit,
    },
    options: {
      tooltips: {
        displayColors: true,
        callbacks: {
          mode: 'x',
        },
      },
      scales: {
        x: {
          stacked: true,
        },
        y: {
          stacked: true
        }
      },
      responsive: true
    }
  });
  var payout = document.getElementById("payout_chart").getContext('2d');
  var myChart = new Chart(payout, {
    type: 'bar',
    data: {
      labels: ["12-05", "13-05"],
      datasets: dataSet_payout,
    },
    options: {
      tooltips: {
        displayColors: true,
        callbacks: {
          mode: 'x',
        },
      },
      scales: {
        x: {
          stacked: true,
        },
        y: {
          stacked: true
        }
      },
      responsive: true
    }
  });
  var topup = document.getElementById("topup_chart").getContext('2d');
  var myChart = new Chart(topup, {
    type: 'bar',
    data: {
      labels: ["12-05", "13-05"],
      datasets: dataSet_topup,
    },
    options: {
      tooltips: {
        displayColors: true,
        callbacks: {
          mode: 'x',
        },
      },
      scales: {
        x: {
          stacked: true,
        },
        y: {
          stacked: true
        }
      },
      responsive: true
    }
  });
  var settlement = document.getElementById("settlement_chart").getContext('2d');
  var myChart = new Chart(settlement, {
    type: 'bar',
    data: {
      labels: ["12-05", "13-05"],
      datasets: dataSet_settlement,
    },
    options: {
      tooltips: {
        displayColors: true,
        callbacks: {
          mode: 'x',
        },
      },
      scales: {
        x: {
          stacked: true,
        },
        y: {
          stacked: true
        }
      },
      responsive: true
    }
  });
  var deposit = document.getElementById("deposit_chart").getContext('2d');
  var myChart = new Chart(deposit, {
    type: 'bar',
    data: {
      labels: ["12-05", "13-05"],
      datasets: dataSet_deposit,
    },
    options: {
      tooltips: {
        displayColors: true,
        callbacks: {
          mode: 'x',
        },
      },
      scales: {
        x: {
          stacked: true,
        },
        y: {
          stacked: true
        }
      },
      responsive: true
    }
  });
</script>